*{
    box-sizing: border-box;
    margin: 0 auto;

}

body > *{
    margin: 0 auto;
}

body{
    background-color: rgb(78, 10, 10);
}
.userCard{
    width: 100%;
    height: 500px;
    min-width: 250px;
    max-width: 300px;
    background-color: rgba(128, 128, 128, 0.562);
    margin: 20px;
    color: white;
    overflow: hidden;
    border-radius: 3px;
    text-align: center;
    box-shadow: 4px 4px rgb(0, 0, 0);
}
.userImageCont{
    width: 150px;
    height: 150px;
    overflow: hidden;
    border: 10px rgb(255, 255, 255);
    border-radius: 50%;
    margin-top: 20px;
    margin-right: centre;
    box-shadow: 3px 3px rgb(0, 0, 0);
}
.userImageCont > img {
    width: inherit;
    height: inherit;
    object-fit: cover;
}/*
.userStatContainer{
    padding: 20px;
}
.userStatIem{
    display: inline-block;
    border-style: dotted;
        
}
.userCard > * {
    display: inline-block;
    vertical-align: top;
}
.tel{
    width: 50px;
    height: 50px;
    margin-bottom: -100px;
    margin-right: ;
}
.userInfoCont{
    font-family: 'Coustard', serif;
font-family: 'Press Start 2P', cursive;
margin-top: 20px;
}
.inst{
    margin-bottom: -100px;
    margin-left: -190px;
    
}*/
.userFullName{
    margin-top: 20px;
    margin-bottom: 20px; 
    
}
.userWebLinks{
    margin-top: 10px;
    margin-bottom: 1000px;
    background-color: rgba(255, 255, 255, 0.13);
    inline-size: 300px;
    display: inline-flex;
    width: 100%;
    
    
}
.userStatItem{
    margin-bottom: 0px;
}
.inst{
    margin-left:10px; 
      
} 
.instStats{
    margin-top: 10px;
    margin-left: 0px;
    text-transform:uppercase;
    text-decoration: underline;
    color: black;
    letter-spacing: 5px;
}
.Button{
    margin-top: 62px;
    margin-bottom: 30px;
    background-color: rgba(255, 255, 255, 0.13);
    width: 70%;
    border-radius: 30px;
    color: black;
    font-family: 'Coustard', serif;
    font-family: 'Press Start 2P', cursive;
    font-size: 30px;
    text-align: center;
    height: 30px;
    font-size: 25px;
    box-shadow: 3px 3px rgb(0, 0, 0);
    
    
}
.userFullName{
    
    font-size: 50px;
}
.userLink{
    font-family: 'Fuggles', cursive;
    font-size:25px;
}
.Button > span {
    position: relative;
    top: 3px;
} 